

@media screen and (max-width: 400px) {
    #exportPdf {
        /* 这里设置手机端样式 */
        font-size: 8px;
        background-color: white;
    }

    .table1 {
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transform-origin: top left;

    }

    .table2 {
        width: 100%;
        height: 100%;
        transform: scale(0.7);
        transform-origin: top left;
    }
}

@media screen and (min-width: 400px) {
    #exportPdf {
        /* 这里设置电脑端样式 */
        width: 700px;
        /* 设置一个固定宽度 */
        margin: 0 auto;
        /* 水平居中 */
        font-size: 15px;
        background-color: white;
    }

    .table1 {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transform-origin: top left;

    }

    .table2 {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transform-origin: top left;
    }
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: #008661 !important;
    border-color: #47B28C !important;
}