body{
  background-color:beige !important;
}

#app {
  max-width: 1280px;
  padding: 0px 0 10px ;
  
}

.btn-main{
  background-color: #47B28C !important;
  border-color: #47B28C !important;
  color: aliceblue !important;
}
.btn-main:hover, .btn-main:focus {
  background-color: #008661 !important;
  border-color: #008661 !important;
  background: #fff;
}

.collapse-total{

}
.ant-collapse-content-box {
  background-color:  #b8d6ce !important;
}

.btn-next{
  background-color: #008661 !important;
  color: #fff !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.btn-crear{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 80px 60px  !important;
}

.editable-row-operations a {
  margin-right: 8px;
}

.text-right {
  text-align: right;
}

.spacer {
  flex-grow: 1;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.a-list {

  padding: 0px 10px;
  
}




#exportPdf{
  border: 1px solid grey;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  #exportPdf {
    /* 这里设置手机端样式 */
    font-size: 8px;
  }
  .table1
  {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    transform-origin: top left;

  }

  .table2{
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    transform-origin: top left;
  }
}

@media screen and (min-width: 400px) {
  #exportPdf {
    /* 这里设置电脑端样式 */
    width: 700px; /* 设置一个固定宽度 */
    margin: 0 auto; /* 水平居中 */
    font-size: 15px;
  }
  .table1
  {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top left;

  }

  .table2{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top left;
  }
}

